body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 58, 58);
    background:rgb(240, 240, 240);
}
h1 {
    font-size: 2.8em;
    text-align: center;
    line-height: 1; 
    margin: 0;
}
h4 {
    font-size: .8em;
    text-align: center;
    line-height: 1;
    margin-top: 10px;
}
section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}
form {
    max-width: 600px;
    min-width: 300px;
    padding: 20px;
}
form div {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 0;
    /* flex-wrap: wrap; */
}
.checkboxes {
    display: grid;
    grid-template-columns: calc(300px/2) calc(160px/2) calc(300px/2);
    grid-template-rows: calc(90px/2) calc(90px/2) calc(250px/2) calc(50px/2) calc(50px/2);
    grid-gap: calc(12px/2);
    padding: 20px;
}

.a {
    grid-column: 1 / span 3;
    grid-row: 1;
    width: calc(728px/2);
    height: calc(90px/2);
}
.b {
    grid-column: 1 / span 4;
    grid-row: 2;
    width: calc(970px/2);
    height: calc(90px/2);
}
.c {
    grid-row: 3 / span 4;
    width: calc(300px/2);
    height: calc(600px/2);
}
.d {
    grid-row: 3 / span 4;
    width: calc(160px/2);
    height: calc(600px/2);
}
.e {
    grid-row: 3 ;
    width: calc(300px/2);
    height: calc(250px/2);
}
.f {
    grid-column: 3;
    grid-row: 4;
    width: calc(300px/2);
    height: calc(50px/2);
}
.g {
    grid-column: 3;
    grid-row: 5;
    width: calc(320px/2);
    height: calc(50px/2);
}

img {
    border: 2px solid transparent;
}
img:hover {
    border: 2px solid #00cfff;
}
img.selected {
    border: 2px inset #00abff;
}
form input, form span.totalAds {
    width: 30px;
    font-size: 1.2em;
    font-weight: 600;
    border: 0;
    background: none;
    margin-left: 20px;
}
form input {
    border-bottom: 1px solid black;
}
/* form span.total {
    font-weight: 600;
    font-size: 1.2em;
} */
form p.days {
    font-weight: 600;
    font-size: 1.2em;
    color: rgb(185, 32, 32);
}